body{
    text-align: center;
    margin: 0;
    background-color: #e2e2e2;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
}

.container{
    background-color: #efefef;
    margin: 20px auto;
    padding: 40px;
    min-width: 200px;
    max-width: 450px;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
}

.dice{
    font-size: 7rem;
    margin-bottom: 1rem;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

button{
    background-color: #0097b2;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
    border: 2px solid #ffbd59;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-bottom: 1rem;
}

button:hover{
    background-color: #0097b2;
    opacity: .8;
}

ul{
    list-style: none;
    padding: 0;
    margin: auto;
    max-width: 450px;
}

li{
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    font-size: 30px;
    margin-right: 1rem;
    align-items: center;
}

.roll-animation{
    animation-name: roll;
}

@keyframes roll{
    0%{
        transform: rotateY(0deg) rotateX(odeg)
    }
    100%{
        transform: rotateY(720deg) rotateX(720deg)
    }
}